/* Gruvbox Light theme */
/* Based on the Gruvbox theme by morhetz */
/* URL: https://github.com/morhetz/gruvbox */
:root {
  --text-color: #3c3836;
  --background-color: #fbf1c7;
  --border-color: #d5c4a1;
  --code-background-color: #ebdbb2;
  --table-header-background: #ebdbb2;
  --even-row-background: #f2e5bc;
  --blockquote-color: #7c6f64;
  --blockquote-background: #ebdbb2;
  --blockquote-border-color: #79740e;
  --link-color: #076678;
  --link-visited-color: #8f3f71;
  --link-hover-color: #427b58;
  --modal-background-color: rgba(251, 241, 199, 0.95);
  --modal-close-color: #3c3836;
}
