/* Nord theme */
/* Based on the Nord theme by Arctic Ice Studio */
/* URL: https://www.nordtheme.com */
:root {
    --text-color: #d8dee9;
    --background-color: #2e3440;
    --border-color: #4c566a;
    --code-background-color: #3b4252;
    --table-header-background: #3b4252;
    --even-row-background: #3b4252;
    --blockquote-color: #616e88;
    --blockquote-background: #3b4252;
    --blockquote-border-color: #a3be8c;
    --link-color: #88c0d0;
    --link-visited-color: #b48ead;
    --link-hover-color: #8fbcbb;
    --modal-background-color: rgba(46, 52, 64, 0.95);
    --modal-close-color: #d8dee9;
    --alert-note-color: #81a1c1;
    --alert-tip-color: #a3be8c;
    --alert-important-color: #b48ead;
    --alert-warning-color: #ebcb8b;
    --alert-caution-color: #bf616a;
    --heading-h1-color: #88c0d0;
    --heading-h2-color: #ebcb8b;
    --heading-h3-color: #bf616a;
    --heading-bold-color: #d08770;
}
