html {
  font-family: sans-serif;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
}

h1::after,
h2::after,
h3::after,
h4::after,
h5::after,
h6::after {
  content: " ";
  display: block;
  border: 1px solid var(--border-color);
}

body {
  max-width: 787px;
  margin: auto;
}

#header {
  display: flex;
  align-items: flex-start;
}

.preview-content {
  min-height: 100%;
}

.preview-padding {
  /* Create extra space at the bottom so document can scroll up */
  height: 20vh;
}

#checkbox-container {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

#checkbox-container label {
  margin-bottom: 5px;
}

img {
  max-width: 100%;
}

#contentModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-background-color);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

#closeModal {
  color: var(--modal-close-color);
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  cursor: pointer;
}

#imageContent {
  max-width: 95%;
  max-height: 95%;
}

#mermaidContent {
  width: 95vw;
  height: 95vh;
}

.mermaid-modal-svg {
  max-width: 100% !important;
  max-height: 100% !important;
  object-fit: contain !important;
}

pre {
  padding: 10px;
  max-width: 100%;
  overflow-x: auto;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

code {
  background-color: var(--code-background-color);
}

code.language-mermaid {
  background-color: var(--background-color);
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 5px;
}

th {
  padding: 10px;
  background-color: var(--table-header-background);
}

tr:nth-child(even) {
  background-color: var(--even-row-background);
}

blockquote {
  color: var(--blockquote-color);
  background-color: var(--blockquote-background);
  border-left: 5px solid var(--blockquote-border-color);
  margin: 0px;
  padding: 0.5em 10px;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:visited {
  color: var(--link-visited-color);
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}
