html {
  font-family: sans-serif;
  line-height: 1.5em;
  color: #dedede;
  background-color: #0d0d12;
  display: table;
  width: 780px;
  margin: auto;
  padding-bottom: 50px;
}

h1:after,
h2:after,
h3:after,
h4:after,
h5:after,
h6:after {
  content: " ";
  display: block;
  border: 1px solid #444d56;
}

body {
  display: table-cell;
  vertical-align: middle;
}

#header {
  position: relative;
  padding: 10px;
}

#header-label {
  position: absolute;
  top: 10px;
  right: 10px;
}

pre {
  padding: 10px;
}

code {
  background-color: #252525;
}

code.language-mermaid {
  background-color: #0d0d12;
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  padding-left: 5px;
  padding-right: 5px;
}

th {
  padding: 10px;
  background-color: #0d0d12;
}

tr:nth-child(odd) {
  background-color: #1d1d1d;
}

blockquote {
  color: #c9d1d9;
  background-color: #1d1d1d;
  border-left: 5px solid #444d56;
  margin: 0px;
  padding: 0.5em 10px;
}

blockquote p {
  display: inline;
}

a {
  color: #58a6ff;
  text-decoration: none;
}

a:hover {
  color: #1f6feb;
  text-decoration: underline;
}
